.catalog {
  padding-top: 62px;
  margin-bottom: 100px;
  @include media-tablet {
    padding-top: 100px;
  }
  @include media-laptop {
    padding-top: 170px;
    position: relative;
    max-width: 1600px;
    &:before {
      position: absolute;
      top: 205px;
      content: "каталог услуг";
      font-size: 208px;
      max-width: 100%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      left: 50%;
      transform: translateX(-50%);
      color: #ffffff;
      opacity: 0.03;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.catalog__title {
  & span {
    display: none;
    @include media-tablet {
      display: block;
    }
  }
  @include media-laptop {
    margin-bottom: 98px;
  }
}

.catalog__slider {
  margin-top: 0;
  margin-bottom: 20px;
  @include media-tablet {
    margin-bottom: 30px;
  }
}

.catalog__btn {
  position: absolute;
  left: 30px;
  bottom: -80px;
  transition: 0.5s;
}

.catalog__link {
  display: block;
  position: relative;
  font-family: Forum;
  text-transform: uppercase;
  color: #ffffff;
  @include media-laptop {
    padding: 10px;
    &:hover {
      padding: 9px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      & .catalog__btn {
        position: absolute;
        bottom: 30px;
        transition: 0.5s;
      }
      & .catalog__des {
        bottom: 100px;
        transition: 0.5s;
      }
      & .catalog__number {
        flex-direction: row;
        transition: 0.5s;
        & span {
          margin-right: 10px;
        }
      }
    }
  }
}

.catalog__number {
  position: absolute;
  display: flex;
  font-size: 20px;
  line-height: 22px;
  left: 20px;
  top: 23px;
  & span {
    display: block;
    width: 70px;
    height: 1px;
    background-color: #fff;
    margin: auto 0;
    margin-right: 10px;
    @include media-tablet {
      margin-right: 0px;
      margin-left: 12px;
    }
    @include media-laptop {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
  @include media-tablet {
    left: 30px;
    top: 43px;
    flex-direction: row-reverse;
    transition: 0.5s;
  }
}

.catalog__img {
  & img {
    width: 100%;
  }
}

.catalog__des {
  position: absolute;
  left: 20px;
  bottom: 15px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  @include media-tablet {
    left: 30px;
    bottom: 30px;
    transition: 0.5s;
  }
}
