.down {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  @include media-tablet {
    margin-bottom: 55px;
    margin-top: 4vh;
  }
  @include media-laptop {
    margin-bottom: 114px;
  }
  & svg {
    width: 14px;
    height: 21px;
    @include media-tablet {
      width: 27px;
      height: 41px;
    }
  }
}

.down__arrow {
  @include media-laptop {
    display: none;
  }
}

.down__mouse {
  display: none;
  @include media-laptop {
    display: block;
    width: 1px;
    padding: 10px 18px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    &:hover {
      .down__scroller {
        transform: translateY(15px);
        animation: none;
      }
    }
  }
}
.down__scroller {
  display: block;
  width: 1px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

.down__text {
  display: none;
  @include media-laptop {
    position: absolute;
    right: 100px;
    bottom: 114px;
    display: block;
    writing-mode: tb-rl;
    font-family: Forum;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
  }
  & svg {
    @include media-laptop {
      margin-top: 30px;
      height: 18px;
      width: 12px;
    }
  }
}
