.first-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include media-tablet {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.first-screen__bg {
  position: absolute;
  top: 64px;
  display: block;
  width: 100%;
  height: calc(100vh - 102px);
  z-index: -1;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include media-tablet {
    top: 0;
    height: 100vh;
  }
}

.first-screen__title {
  margin-top: 29vh;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 7vh;
  @include media-tablet {
    margin-top: 32vh;
    font-size: 70px;
    line-height: 87px;
  }
}

.first-screen__btn {
  margin-bottom: 15vh;
}

.first-screen__social-media {
  width: 250px;
  @include media-tablet {
    width: 460px;
  }
}

.first-screen__down {
  display: block;
  margin-top: 5vh;
  margin-bottom: 78px;
  @include media-tablet {
    margin-bottom: 55px;
    margin-top: 4vh;
  }
  & svg {
    width: 14px;
    height: 21px;
    @include media-tablet {
      width: 27px;
      height: 41px;
    }
  }
}
