.first-screen {
  height: 100vh;
  @include media-laptop {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 75px;
      width: 100%;
      background: linear-gradient(
        0deg,
        #3b181e 3.33%,
        rgba(59, 24, 30, 0) 100%
      );
      z-index: 20;
    }
  }
}

.first-screen__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include media-tablet {
    padding-right: 100px;
    padding-left: 100px;
  }
  @include media-laptop {
    position: relative;
  }
}

.first-screen__bg {
  position: absolute;
  top: 64px;
  display: block;
  width: 100%;
  height: calc(100vh - 102px);
  z-index: -1;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include media-tablet {
    top: 0;
    height: 100vh;
  }
}

.first-screen__title {
  margin-top: 29vh;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 7vh;
  @include media-tablet {
    margin-top: 32vh;
    font-size: 70px;
    line-height: 87px;
  }
  @include media-laptop {
    margin-top: 30vh;
    font-size: 120px;
    line-height: 132px;
  }
}

.first-screen__btn {
  margin-bottom: auto;
}

.first-screen__social-media {
  width: 250px;
  @include media-tablet {
    width: 460px;
  }
  @include media-laptop {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25px;
    left: 100px;
    bottom: 114px;
  }
}

.first-screen__down {
  margin-top: 5vh;
  margin-bottom: 78px;
}
