.glide__bullets {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    justify-content: center;
  }
  @include media-laptop {
    display: none;
  }
}

.glide__bullet {
  width: 100%;
  margin-right: 12px;
  border: none;
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  outline: none;
  &:last-child {
    margin-right: 0;
  }
  @include media-tablet {
    width: 62px;
    &:nth-child(even) {
      display: none;
    }
  }
}

.glide__bullet--active {
  background: #ffffff;
}

.glide__arrow {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  &:hover {
    & circle {
      fill-opacity: 0.6;
    }
  }
}

.glide__arrow--right {
  @include media-laptop {
    display: block;
    right: -23px;
  }
}
