@import "../../libs/normalize.css/normalize";
@import "../../libs/glide/glide.core.min";
@import "../mixins/media";
@import "../utils/fonts";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $main-color;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 16px;
}
