.header__container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 15px 30px 20px;
  background-color: $main-color;
  z-index: 10;
}

.header__menu {
  position: absolute;
  top: calc(-100vh + 64px);
  z-index: 9;
  transition: 0.5s;
}

.header__menu--open {
  top: 0;
  transition: 0.5s;
}

.header__logo {
  margin-left: 0;
  transition: 0.5s;
}

.header__logo--open {
  margin-left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
