{% extends "common/layout.twig" %}

{% block page %}
<section class="first-screen">
    <picture class="first-screen__bg">
        <source srcset="img/catalog1/catalog1-bg.цуиз">
        <img src="img/catalog1/catalog1-bg.jpg" alt="невеста">
    </picture>

</section>

{% endblock %}