{% extends "common/layout.twig" %}

{% block page %}
<section class="example">
    <picture class="example__bg">
        <source srcset="img/catalog4/catalog4-bg.webp">
        <img src="img/catalog4/catalog4-bg.jpg" alt="невеста">
    </picture>
    <div class="example-block">
        <h2 class="example__title">
            оформление
            мероприятий
        </h2>
        <p class="example__des">
            Мы оформим любое мероприятие в выбранном вами стиле. Рождественские, хехоуин, день рождение или любое другое мероприятие могут превратиться в настоящую сказку, всего лишь благодаря оформлению. Полную коллекцию оформлений в разнообразных стилях вы можете посмотреть в нашем инстаграмме.
        </p>
        <button class="example__btn btn popup-opener">заказать</button>
        <div class="glide example__slider">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for number in '1'..'8' %}
                    <li class="glide__slide">
                        <picture class="example__img">
                            <source srcset="img/catalog3/catalog3-slide{{ number }}.webp">
                            <img src="img/catalog3/catalog3-slide{{ number }}.jpg" alt="букет">
                        </picture>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="23" r="22.5" transform="rotate(-90 23 23)" fill="black" fill-opacity="0.4" stroke="white" />
                        <path d="M22 27L26 23L22 19" stroke="white" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="social-media">
            <div class="social-media__item example__inst">
                <a href="" class="social-media__link ">
                    <span>Больше фотографий в профиле</span>
                    <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="17" height="17" rx="3.5" class="social-media__background" fill=currentColor stroke="white" />
                        <path d="M13.2108 10.4747C14.0796 11.3166 14.2605 11.7283 14.2898 11.779C14.6484 12.4033 13.8921 12.4522 13.8921 12.4522L12.4431 12.4741C12.4431 12.4741 12.1301 12.5382 11.721 12.243C11.1782 11.8549 10.4366 10.8425 10.0389 10.9741C9.63464 11.1074 9.76341 12.1687 9.76341 12.1687C9.76341 12.1687 9.76667 12.2986 9.67539 12.4033C9.57433 12.5129 9.37873 12.4707 9.37873 12.4707H8.96146C8.96146 12.4707 7.41463 12.4775 6.15303 11.104C4.77897 9.60742 3.62985 6.80821 3.62985 6.80821C3.62985 6.80821 3.55976 6.63105 3.63474 6.53656C3.72113 6.43026 3.95421 6.43195 3.95421 6.43195H5.50431C5.50431 6.43195 5.64937 6.45219 5.75369 6.53318C5.84171 6.59899 5.88898 6.72385 5.88898 6.72385C5.88898 6.72385 6.07643 7.24522 6.40894 7.84589C7.05603 9.01687 7.35758 9.27334 7.57762 9.14679C7.8971 8.96288 7.80093 7.49156 7.80093 7.49156C7.80093 7.49156 7.80745 6.95669 7.63956 6.71878C7.50916 6.53318 7.2663 6.47919 7.15872 6.464C7.0707 6.45388 7.21414 6.24128 7.39996 6.14679C7.67868 6.00506 8.17256 5.99494 8.75446 6.00169C9.20759 6.00675 9.37873 6 9.37873 6C9.91336 6.13498 9.73244 6.65804 9.73244 7.90663C9.73244 8.30821 9.66235 8.87176 9.93944 9.05736C10.0584 9.14004 10.4855 9.15185 11.2108 7.86108C11.5564 7.24859 11.8286 6.67323 11.8286 6.67323C11.8286 6.67323 11.8873 6.54331 11.9736 6.48931C12.0649 6.43195 12.1855 6.43195 12.1855 6.43195L13.8171 6.44038C13.8171 6.44038 14.3077 6.37627 14.386 6.60911C14.4691 6.85208 14.1855 7.27728 13.5205 8.20697C12.4251 9.73397 12.3029 9.59223 13.2108 10.4747Z" fill=currentColor />
                    </svg>
                </a>
            </div>
        </div>
    </div>


</section>
<script>
    window.addEventListener('load', () => {
        if (window.innerWidth < 1366) {
            document.querySelector(`footer`).style = `display: flex`;
        };
        window.addEventListener('resize', function () {
            if (window.innerWidth < 1366) {
                document.querySelector(`footer`).style = `display: flex`;
            } else if (window.innerWidth >= 1366) {
                document.querySelector(`footer`).style = `display: none`;
            }
        });
    });
</script>

{% endblock %}