{% extends "common/layout.twig" %}

{% block page %}
<section class="first-screen">
    <picture class="first-screen__bg">
        <img src="img/first-screen__main-bg.jpg" alt="букет">
    </picture>
    <h1 class="first-screen__title">
        флористика с душой
    </h1>
    <a href="/" class="btn">
        смотреть работы
    </a>
</section>
{% endblock %}